* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --secondery-font: "Bitter", serif;
  --primery-color: #f8f5f2;
  --main-color: #232323;
  --secondery-color: #f45d48;
  --accent-color: #078080;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primery-color);
}
main {
  padding: 100px 0px;
}
.hide-body {
  overflow: hidden;
}

/*#region nav*/
header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: var(--secondery-color);
  padding: 20px;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bitter", serif;
}
nav {
  padding: 20px 0px;
}
.nav-links {
  margin: 0;
}
.nav-links li {
  display: inline;
  margin-inline: 18px;
  text-transform: capitalize;
  font-size: 18px;
}

.nav-links li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600px;
}
.nav-links li a:hover {
  color: var(--accent-color);
}
.primary-btn {
  background-color: var(--accent-color);
  padding: 10px 30px;
  transition: ease-in-out 100ms;
  text-decoration: none;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #078080e8;
}
/*#region mobile-nav*/
#togglebtn {
  position: absolute;
  top: 25px;
  right: 45px;
  z-index: 1000;
  display: none;
  width: 20px;
  height: 20px;
}
#togglebtn span {
  width: 35px;
  height: 2px;
  background-color: var(--secondery-color);
  position: absolute;
  display: flex;
  transition: 0.3s;
}
#togglebtn span:nth-child(1) {
  top: 20%;
}
#togglebtn span:nth-child(2) {
  top: 80%;
}
#togglebtn.is-active span {
  background: var(--secondery-color);
}
#togglebtn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
#togglebtn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

#menu-overlay.is-active {
  opacity: 1;
  visibility: visible;
}
#menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primery-color);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 999;
}
#menu-overlay ul {
  display: grid;
  padding: 0;
}
#menu-overlay ul li {
  position: relative;
  display: inline;
  text-align: center;
  list-style: none;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
#menu-overlay ul li a:hover {
  color: var(--accent-color);
}
/*#endregion mobile-nav*/
/*#endregion nav*/

/*#region main*/

.img-container {
  width: 100px;
}
.hero .about h2 {
  font-size: 50px;
  color: #222525d7;
  font-weight: normal;
}
.hero .about h1 {
  font-size: 50px;
  color: var(--secondery-color);
}
.hero .about p {
  font-size: 30px;
  color: #222525d7;
}
.project-btn {
  border: solid 2px var(--accent-color);
  font-size: 18px;
  text-decoration: none;
  padding: 15px 25px;
  color: var(--accent-color);
  transition: all ease-in-out 150ms;
}
.project-btn:hover {
  background-color: var(--accent-color);
  color: var(--primery-color);
}
#projects {
  margin-top: 150px;

  background-color: #f8f5f2;
}
#projects .row {
  padding: 50px;
}
#projects h4 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
}

.project-layout {
  background-color: #fffffe;
  padding: 15px;
  border: none;
}

.project-layout h2 {
  color: var(--main-color);
  font-size: 24px;
  font-family: var(--secondery-font);
}
.project-layout img {
  margin-inline: 10px;
  padding: 6px;
  border: solid 2px #232323c4;
  border-radius: 10px;
  color: #222525d7;
}
.project-layout p {
  font-size: 18px;
}

.tools span {
  padding: 4px 10px;
  background-color: #23232311;
  color: var(--main-color);
  border-radius: 5px;
}

/*#endregion main*/
/*#region footer*/
footer {
  background-color: var(--main-color);
  padding: 30px;
}
footer p {
  color: var(--primery-color);
  text-align: center;
  font-size: 34px;
  font-family: var(--secondery-font);
}
footer .email a {
  color: #f8f5f27e;
  text-decoration: none;
  font-size: 26px;
}
footer .email a:hover {
  color: #f8f5f2;
}
.social-media {
  font-size: 28px;
}
.social-media a {
  padding: 10px;
  color: var(--primery-color);
}
.social-media a:hover {
  color: var(--secondery-color);
}
.gitLink {
  text-align: center;
  color: var(--primery-color);
}
.gitLink a {
  color: var(--accent-color);
  text-decoration: none;
}

/*#endregion fotter*/

@media (max-width: 655px) {
  .logo {
    padding: 10px;
    font-size: 22px;
  }
  .navbar {
    display: none;
  }
  #togglebtn {
    display: flex;
  }
  #menu-overlay {
    display: flex;
  }
  main {
    padding: 50px 20px;
  }
  .hero {
    text-align: center;
  }
  .hero .about h2 {
    font-size: 26px;
  }
  .hero .about h1 {
    font-size: 28px;
  }
  .hero .about p {
    font-size: 18px;
  }
  #projects h4 {
    font-size: 28px;
  }
  #projects .row {
    padding: 0;
  }
  .project-layout {
    line-break: anywhere;
    text-align: center;
  }
  .col-md-6 {
    margin-bottom: 30px;
  }
  #projects {
    margin-top: 50px;
  }
  footer p {
    font-size: 28px;
  }
  footer .email a {
    color: #f8f5f27e;
    text-decoration: none;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .hero {
    text-align: center;
  }
}
